[submodule "thirdparty/curl"]
	path = thirdparty/curl
	url = https://github.com/curl/curl.git
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/SDL-mirror/SDL.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
